<h4 mat-dialog-title>{{ title }} Cuenta a Cobrar</h4>
<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
    <mat-dialog-content>
        <div style="display: flex">
            <div class="third-width-field">
                <span>Nro Cuenta A Cobrar: {{ item.id }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Estado: {{ estadoCuentaACobrar }}</span>
            </div>
        </div>
        &nbsp;
        <div style="display: flex">
            <div class="third-width-field">
                <span>Fecha Vto: {{ item.fechaVencimiento | date: 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Cuota: {{ item.numeroCuota }} de {{ item.cantidadCuotas }} </span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Total: {{ item.monto | myCurrency }}</span>
            </div>
        </div>
        <br>
        <!--<div>
            <mat-form-field class="full-width-field">
                <mat-label>Tipo Cobro</mat-label>
                <mat-select [compareWith]="compareFunction" formControlName="tipo">
                    <mat-option *ngFor="let tipo of tiposCobro" [value]="tipo">
                        {{tipo.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>-->
        <div>
            <h2>Tipo Cobro</h2>
            <div>
                <mat-checkbox formControlName="checkEfectivo" [checked]="isEfectivo">
                        <h3>Efectivo</h3>
                </mat-checkbox>
                &nbsp;
                <mat-form-field class="third-width-field">
                    <input id="efectivo" formControlName="efectivo" [disabled]="!isEfectivo" matInput
                           placeholder="Monto Efectivo" autocomplete="off"/>
                </mat-form-field>
            </div>

            <div>
                <mat-checkbox formControlName="checkEfectivo" [checked]="isEfectivo">
                    <h3>Tarjeta</h3>
                </mat-checkbox>
                &nbsp;
                <mat-form-field class="third-width-field">
                    <input id="tarjeta" formControlName="efectivo" [disabled]="!isEfectivo" matInput
                           placeholder="Monto Tarjeta" autocomplete="off"/>
                </mat-form-field>
            </div>

            <div>
                <mat-checkbox formControlName="checkEfectivo" [checked]="isEfectivo">
                    <h3>Cheque</h3>
                </mat-checkbox>
                &nbsp;
                <mat-form-field class="third-width-field">
                    <input id="cheque" formControlName="efectivo" [disabled]="!isEfectivo" matInput
                           placeholder="Monto Cheque" autocomplete="off"/>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">
        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cerrar
        </button>

        <button mat-button color="success" (click)="process()"  *ngIf="item.estadoCuentaACobrar.id === 1" [disabled]="!form.valid">
            <mat-icon>done_all</mat-icon>
            Procesar
        </button>
    </mat-dialog-actions>
</form>
