<h4 mat-dialog-title>{{ title }} Cuenta a Cobrar</h4>
<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
    <mat-dialog-content>
        <div style="display: flex">
            <div class="third-width-field">
                <span>Nro Cuenta A Cobrar: {{ item.id }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Estado: {{ estadoCuentaACobrar }}</span>
            </div>
        </div>
        &nbsp;
        <div style="display: flex">
            <div class="third-width-field">
                <span>Fecha Vto: {{ item.fechaVencimiento | date: 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Cuota: {{ item.numeroCuota }} de {{ item.cantidadCuotas }} </span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Total: {{ item.monto | myCurrency }}</span>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">
        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cerrar
        </button>

        <button mat-button color="success" (click)="process()" *ngIf="this.estadoCuentaACobrar !== ''" [disabled]="item.estadoCuentaACobrar.id !== 1">
            <mat-icon>done_all</mat-icon>
            Procesar
        </button>
    </mat-dialog-actions>
</form>
