.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.mat-dialog-title {
  margin: 0;
}
form {
  margin-top: 0;
  padding-top: 0;
  vertical-align: top;
}

