<h4 mat-dialog-title>Servicios</h4>

<form (keydown.enter)="$event.preventDefault()">
    <mat-dialog-content>
        <div *ngIf="this.formType === 1 && servicioSelected.length > 0" >
            <div *ngFor="let servicio of servicioSelected">
                <span>
                    Servicio: {{ servicio.descripcion }} |
                    {{ servicio.monto| myCurrency  }}
                    <span *ngIf="servicio.articulo"> + {{ servicio.articulo.precioVenta }}|
                        {{ servicio.articulo.descripcion }}
                    </span>
                </span>
                <br/>
                <br/>
            </div>
        </div>

        <div *ngIf="this.formType !== 1 && servicios.length > 0">
            <mat-selection-list #shoes (selectionChange)="selectedNotaCredito($event)">
                <mat-list-option *ngFor="let servicio of servicios, let i = index" [value]="servicio" [selected]="selected[i]">
                    <span>
                        {{ servicio.descripcion }} |

                        {{ servicio.monto | myCurrency  }}
                        <span *ngIf="servicio.articulo"> + {{ servicio.articulo.precioVenta }} |
                        {{ servicio.articulo.descripcion }} </span>

                        {{ servicio.monto | myCurrency }}
                        <span *ngIf="servicio.articulo"> + {{ servicio.articulo.precioVenta | myCurrency}} | {{servicio.articulo.descripcion}} </span>

                    </span>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">
        <button mat-raised-button color="primary" (click)="ok()">
            <mat-icon>save</mat-icon>
            Aceptar
        </button>
    </mat-dialog-actions>

</form>
