<div style="margin: 8px;">
    <mat-toolbar>
        <span>Notas de Remisión</span>
        <span class="line-spacer"></span>

        <button color="primary" mat-button (click)="cargar()">
            <mat-icon>refresh</mat-icon>
            <span>Actualizar</span>
        </button>

        <button color="primary" mat-button (click)="add()">
            <mat-icon>add</mat-icon>
            <span>Nuevo</span>
        </button>

    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <div class="end">
                <mat-checkbox [(ngModel)]="all" (change)="cargar()">Ver Todos</mat-checkbox>
            </div>
            <div class="table-responsive">
                <mat-table #table [dataSource]="dataSource" class="table table-striped text-center">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Id</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            <span [ngClass]="{'eliminado':dato.estado === 'INACTIVO'}"> {{ dato.id }} </span>
                        </mat-cell>>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Observación</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            <i [ngClass]="{'eliminado':dato.estado === 'INACTIVO'}">{{ dato.observacion }}</i>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Fecha</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            {{ dato.fecha | date : 'dd/MM/yyyy' }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Estado</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            {{ dato.estadoNotaRemision.descripcion }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="origen">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Origen</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            {{ dato.origen.descripcion }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="destino">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Destino</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            {{ dato.destino.descripcion }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tipo">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Tipo</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla">
                            {{ dato.tipo }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let dato">

                            <button matTooltip="Ver Detalle" color="primary" mat-icon-button (click)="openDialog(dato)">
                                <mat-icon aria-label="Ver detalle">view_list</mat-icon>
                            </button>

                            <button [disabled]="dato.estadoNotaRemision.id === 2 || dato.tipo === 'AUTOMATICA'" matTooltip="Anular" color="warn" mat-icon-button (click)="anularDialog($event, dato)">
                                <mat-icon aria-label="Anular item">block</mat-icon>
                            </button>

                            <button [disabled]="dato.estadoNotaRemision.id !== 1" matTooltip="Procesar" color="success"  mat-icon-button (click)="procesarDialog($event, dato)" >
                                <mat-icon aria-label="Procesar">done_all</mat-icon>
                            </button>

                            <!--<button matTooltip="Eliminar" *ngIf="dato.estado === 'ACTIVO'" color="warn" mat-icon-button (click)="delete($event, dato)">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <button matTooltip="Reactivar" *ngIf="dato.estado === 'INACTIVO'"mat-icon-button (click)="reactivate($event, dato)">
                                <mat-icon>refresh</mat-icon>
                            </button>-->

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #painator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
