<h4 mat-dialog-title>{{title}} Proveedor</h4>

<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">

    <mat-dialog-content>

        <div class="mt-2" *ngIf="formType === 1">
            <mat-form-field class="full-with-field" >
                <input id="id" formControlName="id" matInput placeholder="Id" readonly />
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-with-field">
                <input ruc="ruc" formControlName="ruc" required matInput placeholder="Ruc"
                    autocomplete="off" />
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-with-field">
                <input ruc="razon" formControlName="razon" required matInput placeholder="Razon"
                    autocomplete="off" />
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-with-field">
                <input ruc="direccion" formControlName="direccion" required matInput placeholder="Direccion"
                    autocomplete="off" />
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-with-field">
                <input ruc="correo" formControlName="correo" required matInput placeholder="Correo"
                    autocomplete="off" />
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-with-field">
                <input ruc="telefono" formControlName="telefono" required matInput placeholder="Telefono"
                    autocomplete="off" />
            </mat-form-field>
        </div>

        

        <div class="mt-2">
            <mat-form-field>
                <mat-label>Ciudad</mat-label>
                <mat-select name="food">
                    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                        {{ciudad.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

       
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">

        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon> Cancelar
        </button>

        <button mat-raised-button color="primary" (click)="ok()" [disabled]="!form.valid">
            <mat-icon>save</mat-icon> Aceptar
        </button>

    </mat-dialog-actions>

</form>
