<h4 mat-dialog-title>{{ title }} de Caja</h4>

<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">

    <mat-dialog-content>

        <!--<div class="mt-2" *ngIf="formType === 1">
            <mat-form-field class="full-width-field" >
                <input id="id" formControlName="id" matInput placeholder="Id" readonly />
            </mat-form-field>
        </div>-->


        <div style="display: flex">
            <div class="third-width-field">
                <span></span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span></span>
            </div>
        </div>
        &nbsp;
        <div>
            <mat-form-field class="middle-width-field">
                <mat-label>Caja</mat-label>
                <mat-select [compareWith]="compareFunction" formControlName="caja">
                    <!--<mat-option [value]="0" selected="true">Seleccionar...</mat-option>-->
                    <mat-option *ngFor="let caja of cajas" [value]="caja">
                        {{ caja.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="middle-width-field">
                <input id="montoApertura" formControlName="montoApertura" required matInput placeholder="Monto Apertura"
                       autocomplete="off" myCurrencyFormatter (change)="setNumber($event, 'montoApertura')"/>
            </mat-form-field>

        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">

        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cerrar
        </button>

        <button mat-raised-button color="primary" (click)="ok()" [disabled]="!form.valid" *ngIf="this.formType !== 1">
            <mat-icon>save</mat-icon>
            Aceptar
        </button>

        <button mat-button color="warn" (click)="anularDialog($event)" [disabled]="item.estado !== 'INACTIVO'" *ngIf="this.formType === 1">
            <mat-icon>block</mat-icon>
            Anular
        </button>

    </mat-dialog-actions>

</form>
