<h4 mat-dialog-title>{{ title }} Orden de Compra</h4>

<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
    <mat-dialog-content>
        <div style="display: flex">
            <div class="third-width-field">
                <span>Nro Orden: {{ item.id }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Estado: {{ estadoOrden }}</span>
            </div>
        </div>

        <div>
            <div *ngIf="this.formType === 1">
                <br/>
                <span >Proveedor: {{ item.proveedor.ruc }} | {{ item.proveedor.razonSocial }}</span>
            </div>

            <mat-form-field class="full-with-field" *ngIf="this.formType !== 1">
                <input type="text"
                       placeholder="Proveedor"
                       matInput
                       [formControl]="proveedorControl"
                       [matAutocomplete]="autoProvedor"
                       class="text">
                <mat-autocomplete #autoProvedor="matAutocomplete" [displayWith]="displayProveedor">
                    <mat-option *ngFor="let proveedor of proveedorFiltered | async" [value]="proveedor"
                                (onSelectionChange)="selectedProveedor($event)">
                        {{ proveedor.ruc }} | {{ proveedor.razonSocial }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div *ngIf="this.formType === 1" >
            <h4>Presupuestos</h4>
            <div *ngFor="let presupuesto of item.presupuestosCompra">
                <span>Presupuesto de Compra: {{ presupuesto.observacion }} | {{ presupuesto.fecha | date: 'dd/MM/yyyy' }} |
                    {{ presupuesto.usuario.nombre }} |  {{ presupuesto.proveedor.razonSocial }} |
                    {{ presupuesto.total }}</span>
                <br/>
                <br/>
            </div>
        </div>

        <div *ngIf="this.formType !== 1 && proveedores.length > 0">
            <h4>Presupuestos</h4>
            <mat-selection-list #shoes (selectionChange)="selectedPresupuesto($event)">
                <mat-list-option *ngFor="let presupuesto of presupuestos" [value]="presupuesto">
                    {{ presupuesto.observacion }} | {{ presupuesto.fecha | date: 'dd/MM/yyyy' }} |
                    {{ presupuesto.usuario.nombre }} | {{ presupuesto.proveedor.razonSocial }} | {{ presupuesto.total | myCurrency }}
                </mat-list-option>
            </mat-selection-list>
        </div>

        <div *ngIf="this.formType !== 1 && notasCredito.length > 0">
            <h4>Notas de Crédito</h4>
            <mat-selection-list #shoes (selectionChange)="selectedNotaCredito($event)">
                <mat-list-option *ngFor="let notaCreditoCompra of notasCredito" [value]="notaCreditoCompra">
                    {{ notaCreditoCompra.observacion }} | {{ notaCreditoCompra.fecha | date: 'dd/MM/yyyy' }} |
                    {{ notaCreditoCompra.usuario.nombre }} | {{ notaCreditoCompra.monto | myCurrency }}
                </mat-list-option>
            </mat-selection-list>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-with-field">
                <input id="descripcion" formControlName="observacion" required matInput placeholder="Observación"
                       autocomplete="off" class="text"/>
            </mat-form-field>
        </div>

        <div *ngIf="this.formType === 1">
            <span>Condición Pago: {{ item.condicionPago.descripcion}}</span>
        </div>
        <br/>
        <div style="display: flex" *ngIf="this.formType === 1 && this.item.condicionPago.id === 2">
            <div class="third-width-field">
                <span>Cantidad Cuotas: {{ item.cantidadCuota }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Intervalo (días): {{ item.intervalo }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Monto Cuota: {{ item.montoCuota | myCurrency }}</span>
            </div>
        </div>
        <br/>

        <div *ngIf="this.formType !== 1">
            <mat-form-field class="middle-width-field">
                <mat-label>Condición Pago</mat-label>
                <mat-select [compareWith]="compareFunction" formControlName="condicionPago" required>
                    <mat-option *ngFor="let condicionPago of condicionesPago" [value]="condicionPago" (onSelectionChange)="tipoPagoSelected($event)">
                        {{condicionPago.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="condicionPagoType === 2">
            <mat-form-field class="third-width-field">
                <mat-label>Cantidad Cuotas</mat-label>
                <mat-select formControlName="cantidadCuota">
                    <mat-option *ngFor="let cantidadCuota of cantidadCuotas" [value]="cantidadCuota"
                                (onSelectionChange)="cantidadCuotaSelected($event)">
                        {{cantidadCuota}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="third-width-field">
                <mat-label>Intervalo</mat-label>
                <mat-select formControlName="intervalo">
                    <mat-option *ngFor="let intervalo of intervalos" [value]="intervalo">
                        {{intervalo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="third-width-field">
                <mat-label>Monto Cuota</mat-label>
                    <input readonly id="montoCuota" formControlName="montoCuota" matInput placeholder="Monto Cuota"
                           autocomplete="off" myCurrencyFormatter (change)="setNumber($event, 'montoCuota')"/>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <h4>Detalles</h4>
        <div align="end">
            <h3>Total: {{total | myCurrency}}</h3>
            <h4>Total Notas Crédito : {{ totalNotasCredito | myCurrency }}</h4>
        </div>

        <div>
            <mat-table #table [dataSource]="dataSource" class="table table-striped text-center">
                <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Código</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        <span> {{ dato.presupuestoCompraDetalle.pedidoCompraDetalle.articulo.codigoGenerico }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="item">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Item</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.presupuestoCompraDetalle.pedidoCompraDetalle.articulo.descripcion }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Cantidad</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.presupuestoCompraDetalle.pedidoCompraDetalle.cantidad }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Precio</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.presupuestoCompraDetalle.monto | myCurrency }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Sub Total</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.presupuestoCompraDetalle.monto * dato.presupuestoCompraDetalle.pedidoCompraDetalle.cantidad | myCurrency }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">
        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cerrar
        </button>

        <button mat-raised-button color="primary" (click)="ok()" [disabled]="!form.valid" *ngIf="this.formType !== 1">
            <mat-icon>save</mat-icon>
            Aceptar
        </button>

        <button mat-button color="warn" (click)="anularDialog($event)" [disabled]="item.estadoOrdenCompra.id !== 1" *ngIf="this.formType === 1">
            <mat-icon>block</mat-icon>
            Anular
        </button>
    </mat-dialog-actions>
</form>
