<mat-sidenav-container class="app-sidenav-container" [class.dark-theme]="isDarkTheme" [dir]="dir">
    <mat-sidenav class="app-sidenav mat-elevation-z5 padding-company-name" #sidenav
        *ngIf="this.loginService.authenticated" [opened]="this.isSmall ? false : isMenuOpen"
        [mode]="this.isSmall ? 'over' : 'side'" [class.menu-open]="isMenuOpen">
        <div class="container-name-company">
            <div class="d-flex justify-content-between align-items-center py-2 px-4">
                <a routerLink="/" style="text-decoration: none;min-width: 80px;vertical-align: middle;">
                    <img src="favicon.ico" alt='' class="logo" style="vertical-align: middle;">
                    <span class='color-primary' style="min-height: 30px;vertical-align: middle;"
                        title="Innovalogic System">{{ appName }}</span>
                </a>
                <!--<mat-select [(ngModel)]="companyId" (selectionChange)="company_change($event)">
                    <mat-option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</mat-option>
                </mat-select>-->
                <span fxFlex></span>
                <button mat-icon-button title="Cerrar" (click)="toogleSideNav()" *ngIf="this.isSmall">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <mat-accordion class="app-menu mat-elevation-z0">
            <!--<mat-expansion-panel *ngFor="let menu of menus; first as isFirst" [expanded]="isFirst"-->
            <mat-expansion-panel *ngFor="let menu of menus;" class="mat-elevation-z0">
                <mat-expansion-panel-header *ngIf="menu != null && (menu.Items[0].SubItems.length > 0 || menu.Items[1].SubItems.length > 0 || menu.Items[2].SubItems.length > 0)" [expandedHeight]="'40px'"
                    style="border-top: solid 1px rgb(224, 224, 224);">
                    <mat-panel-title>
                        <p style="vertical-align: middle" class="title">
                            <mat-icon style="vertical-align: middle;padding-right: 5px"
                                *ngIf="menu.Icon && menu.Icon!=''">{{ menu.Icon }}
                            </mat-icon> {{ menu.Name }}
                        </p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list *ngIf="menu && menu.Items.length > 0">
                    <!--<mat-expansion-panel *ngFor="let item of menu.Items; first as isFirst" [expanded]="isFirst"-->
                    <mat-expansion-panel *ngFor="let item of menu.Items" class="mat-elevation-z0">
                        <mat-expansion-panel-header *ngIf="menu != null && item.SubItems.length > 0" [expandedHeight]="'40px'"
                            style="border-top: solid 1px rgb(224, 224, 224);">
                            <mat-panel-title>
                                <p style="vertical-align: middle" class="subtitle">
                                    {{ item.Name }}
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list *ngIf="menu && item.SubItems.length > 0">
                            <a mat-list-item role="navigation" routerLinkActive="active" (click)="closeMenu()"
                                [routerLink]="subitem.Url" *ngFor="let subitem of item.SubItems">
                                <span class="item">{{ subitem.Name }}</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="sidenav-footer" *ngIf="this.loginService.authenticated">
            <mat-divider></mat-divider>
            <span>Version: {{ version }}</span>
            <button mat-stroked-button color="primary" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon> Salir
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content" [ngClass]="{'bg': !this.loginService.authenticated}">
        <app-toolbar (toggleTheme)="toggleTheme()" (toggleSidenav)="sidenav.toggle()" (toggleDir)="toggleDir()"
            *ngIf="this.loginService.authenticated">
        </app-toolbar>
        <div class="h-100" [class.wrapper]="true" [class.pt-2]="true">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="loading-container" *ngIf="util.localStorageGetItem('loading') === 'true'">
    <mat-spinner color="primary" class="center-element"></mat-spinner>
</div>
