.example-spacer {
    flex: 1 1 auto;
}

.bg {
    background-image     : url('../assets/bg3.jpg');
    background-repeat    : no-repeat;
    background-position  : center center;
    background-attachment: fixed;
}

.wrapper {
    padding-left : 4px;
    padding-right: 4px;
}

:host {
    height: 100%;
}

app-sidenav-content {
    height: 100%;
}

.menu-close {
    width: 70px !important;
}

.menu-open {
    width: 270px !important;
}

.test {
    height          : 100%;
    background-color: green;
}

.logo {
    max-height    : 30px;
    vertical-align: middle;
    margin-right  : 5px;
    padding-right : 5px;
}

.padding-company-name {
    padding-top: 46px;
}

.container-name-company {
    position: absolute;
    top     : 0;
    width   : 100%;
}

::ng-deep ngx-material-timepicker-content {
    --body-background-color               : #fff;
    --primary-font-family                 : 'Roboto', sans-serif;
    --button-color                        : #3f51b5 !important;
    --dial-active-color                   : #fff;
    --dial-inactive-color                 : rgba(255, 255, 255, .5);
    --dial-background-color               : #3f51b5 !important;
    --dial-editable-active-color          : #3f51b5 !important;
    --dial-editable-background-color      : #fff;
    --clock-face-time-active-color        : #fff;
    --clock-face-time-inactive-color      : #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292;
    --clock-face-time-disabled-color      : #c5c5c5;
    --clock-face-background-color         : #f0f0f0;
    --clock-hand-color                    : #3f51b5 !important;
}

.title {
    font-size: 20px;
    color : #3f51b5
}

.subtitle {
    font-size: 15px;
    padding-left: 10%;
}

.item {
    padding-left: 20%;
}