/*.mat-column-id{
  width: 10%;
}

.mat-column-observacion{
  width: 50%;
}*/

/*.mat-footer-column,
.mat-header-column,
.mat-column {
  display: inline-flex !important;
  min-width: 100% !important;
}*/
