<div class="logo-box">
    <img class="logo" src="assets/logo4.png" alt="Logo">
</div>

<div class="center">
    <ng-container *ngIf="!this.loginService.authenticated">
        <div class="signin-buttons">
            <p>
                <span class="glass">Para empezar debe iniciar sesión o registrarse</span>
            </p>
            <div>
                <button mat-raised-button color="primary" routerLink="/login">Iniciar Sesión</button>
                <button class="ml-2" mat-raised-button routerLink="/register" [disabled]="true">Registrarse</button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="this.loginService.authenticated">
        <p>
            <span class="glass">Seleccione una opcion del menu lateral para continuar</span>
        </p>
    </ng-container>
</div>