<h4 mat-dialog-title>{{ title }} Pedido de Venta</h4>

<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">

    <mat-dialog-content>

        <div style="display: flex">
            <div class="third-width-field">
                <span>Nro Pedido: {{ item.id }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Estado: {{ estadoPedido }}</span>
            </div>
        </div>

        <div *ngIf="this.formType !== 1">
            <mat-form-field class="full-width-field">
                <input type="text"
                       placeholder="Cliente"
                       matInput
                       [formControl]="myControlCliente"
                       [matAutocomplete]="autoCliente"
                       class="text">
                <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayCliente">
                    <mat-option *ngFor="let option of filteredOptionsCliente | async" [value]="option"
                                (onSelectionChange)="selectedCliente($event)">
                        {{option.ruc}} | {{option.razon}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div *ngIf="this.formType === 1">
            <br/>
            <span >Cliente: {{ item.cliente.ruc }} |
                {{ item.cliente.razon }}</span>
        </div>
        <br/>

        <div>
            <mat-form-field class="middle-width-field">
                <mat-label>Sucursal</mat-label>
                <mat-select [compareWith]="compareFunction" formControlName="sucursal" (selectionChange)="listDepositos()">
                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">
                        {{ sucursal.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="middle-width-field">
                <mat-label>Deposito</mat-label>
                <mat-select [compareWith]="compareFunction" formControlName="deposito" (selectionChange)="listStock()">
                    <mat-option *ngFor="let deposito of depositos" [value]="deposito">
                        {{ deposito.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-width-field">
                <input id="descripcion" formControlName="observacion" required matInput placeholder="Observación"
                       autocomplete="off" class="text"/>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <h4>Detalles</h4>
        <div class="full-width-field" *ngIf="this.formType !== 1">
            <mat-form-field class="middle-width-field">
                <input type="text"
                       placeholder="Artículo"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       class="text">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                (onSelectionChange)="selected($event)">
                        {{option.articulo.codigoGenerico}} | {{option.articulo.descripcion}} | {{ option.existencia}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input type=number id="cantidad" formControlName="cantidadArticulo" matInput
                       placeholder="Cantidad"
                       autocomplete="off" class="text"/>
            </mat-form-field>
            &nbsp;
            <button matTooltip="Agregar Item" color="primary" mat-icon-button
                    (click)="addItem()">
                <mat-icon aria-label="Agregar Item">add_circle</mat-icon>
            </button>

        </div>

        <div>
            <mat-table #table [dataSource]="dataSource" class="table table-striped text-center">
                <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Código</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        <span> {{ dato.articulo.codigoGenerico }} </span>
                    </mat-cell>
                    >
                </ng-container>

                <ng-container matColumnDef="item">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Item</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.articulo.descripcion }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Cantidad</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.cantidad }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let dato, let i = index">

                        <!--<button color="primary" mat-icon-button (click)="viewDetail(dato)">
                            <mat-icon aria-label="Ver detalle">view_list</mat-icon>
                        </button>-->

                        <button matTooltip="Aumentar" color="primary" mat-icon-button
                                (click)="incItem(dato)" *ngIf="formType !== 1" [disabled]="!existStock(i)">
                            <mat-icon aria-label="Aumentar item">add_circle_outline</mat-icon>
                        </button>

                        <button matTooltip="Disminuir" color="primary" mat-icon-button
                                (click)="descItem(dato)" [disabled]="dato.cantidad === 1" *ngIf="formType !== 1">
                            <mat-icon aria-label="Disminuir item">remove_circle_outline</mat-icon>
                        </button>

                        <button matTooltip="Eliminar" color="warn" mat-icon-button
                                (click)="deleteItem(dato)" *ngIf="formType !== 1">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <!--<button matTooltip="Reactivar" *ngIf="dato.estado === 'INACTIVO'"mat-icon-button (click)="reactivate($event, dato)">
                            <mat-icon>refresh</mat-icon>
                        </button>-->

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">

        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>

        <button mat-raised-button color="primary" (click)="ok()" [disabled]="!form.valid" *ngIf="this.formType !== 1">
            <mat-icon>save</mat-icon>
            Aceptar
        </button>

        <button mat-button color="warn" (click)="anularDialog($event)" [disabled]="item.estadoPedidoVenta.id === 2" *ngIf="this.formType === 1">
            <mat-icon>block</mat-icon>
            Anular
        </button>

    </mat-dialog-actions>

</form>
