<h4 mat-dialog-title>{{ title }} Nota Débito Compra</h4>
<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
    <mat-dialog-content>
        <div style="display: flex">
            <div class="third-width-field">
                <span>Nro Débito Compra: {{ item.id }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Estado: {{ estadoNotaDebitoCompra }}</span>
            </div>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-width-field">
                <input id="descripcion" formControlName="observacion" required matInput placeholder="Observación"
                       autocomplete="off" class="text"/>
            </mat-form-field>
        </div>

        <div style="display: flex">
            <div class="third-width-field">
                <span>Fecha Vto: {{ item.cuentaAPagar.fechaVencimiento | date: 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Cuota: {{ item.cuentaAPagar.numeroCuota }} de {{ item.cuentaAPagar.cantidadCuotas }} </span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Total: {{ item.monto | myCurrency }}</span>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">
        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cerrar
        </button>

        <button mat-button color="success" (click)="process()" *ngIf="this.estadoNotaDebitoCompra !== ''" [disabled]="item.estadoNotaDebitoCompra.id !== 1">
            <mat-icon>done_all</mat-icon>
            Procesar
        </button>
    </mat-dialog-actions>
</form>
