<h4 mat-dialog-title>{{ title }} Presupuesto de Servicio</h4>

<form [formGroup]='form' (keydown.enter)="$event.preventDefault()">

    <mat-dialog-content>
        <div style="display: flex">
            <div class="third-width-field">
                <span>Nro Presupuesto Servicio: {{ item.id }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
            </div>
            &nbsp;
            <div class="third-width-field">
                <span>Estado: {{ estadoPresupuestoServicio }}</span>
            </div>
        </div>

        <div>
            <div *ngIf="this.formType === 1">
                <br/>
                <span >Diagnostico: {{ item.diagnostico.observacion }} | {{ item.diagnostico.fecha | date: 'dd/MM/yyyy' }} |
                    {{ item.diagnostico.usuario.nombre }} | {{ item.diagnostico.recepcion.sucursal.descripcion }} |
                    {{ item.diagnostico.recepcion.recepcionDetalles[0].equipo.cliente.razon}}
                </span>
            </div>

            <mat-form-field class="full-width-field" *ngIf="this.formType !== 1">
                <input type="text"
                       placeholder="Diagnostico"
                       matInput
                       [formControl]="diagnosticosControl"
                       [matAutocomplete]="autoDiagnostico"
                       class="text">
                <mat-autocomplete #autoDiagnostico="matAutocomplete" [displayWith]="displayDiagnostico">
                    <mat-option *ngFor="let diagnostico of diagnosticosFiltered | async" [value]="diagnostico"
                                (onSelectionChange)="selectedDiagnostico($event)">
                        {{ diagnostico.observacion }} | {{ diagnostico.fecha | date: 'dd/MM/yyyy' }} |
                        {{ diagnostico.usuario.nombre }} | {{ diagnostico.recepcion.recepcionDetalles[0].equipo.cliente.razon}} |
                        {{ diagnostico.recepcion.sucursal.descripcion }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="mt-2">
            <mat-form-field class="full-width-field">
                <input id="descripcion" formControlName="observacion" required matInput placeholder="Observación"
                       autocomplete="off" class="text"/>
            </mat-form-field>
        </div>

        <div>
            <div *ngIf="this.formType === 1">
                <br/>
                <span >Promocion/Descuento: {{ item.promoDescuento.id }} | {{ item.promoDescuento.descripcion }}</span>
            </div>

            <mat-form-field class="full-width-field" *ngIf="this.formType !== 1">
                <input type="text"
                       placeholder="Promocion/Descuento"
                       matInput
                       [formControl]="promoDescuentoControl"
                       [matAutocomplete]="autoPromoDescuento"
                       class="text">
                <mat-autocomplete #autoPromoDescuento="matAutocomplete" [displayWith]="displayPromoDescuento">
                    <mat-option *ngFor="let promoDescuento of promoDescuentoFiltered | async" [value]="promoDescuento"
                                (onSelectionChange)="selectedPromoDescuento($event)">
                        {{ promoDescuento.id }} | {{ promoDescuento.descripcion }} | {{ promoDescuento.porcentaje }}%
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <h4>Detalles</h4>
        <div align="end">
            <h3>Total: {{total | myCurrency}}</h3>
            <h4>Total con Descuento: {{totalConDescuento | myCurrency}}</h4>
            <h4>Total Descuento: {{totalDescuento | myCurrency}}</h4>
        </div>

        <div>
            <mat-table #table [dataSource]="dataSource" class="table table-striped text-center">
                <ng-container matColumnDef="equipo">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Equipo</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        <span>
                            {{ dato.diagnosticoDetalle.recepcionDetalle.equipo.descripcion }} -
                            {{ dato.diagnosticoDetalle.recepcionDetalle.equipo.serie }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="diagnostico">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Diagnostico</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.diagnosticoDetalle.diagnostico }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="servicio">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Servicio</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla">
                        {{ dato.diagnosticoDetalle.recepcionDetalle }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subTotal">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Sub Total</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato;let index = index" class="texto-tabla">
                        {{ subTotales[index] | myCurrency}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Servicios</mat-header-cell>
                    <mat-cell *matCellDef="let dato, let i = index">
                        <button matTooltip="Ver Detalle" color="primary" mat-icon-button (click)="openDialog(i)">
                            <mat-icon aria-label="Ver detalle">view_list</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-4">

        <button mat-button color="primary" (click)="dismiss()">
            <mat-icon>cancel</mat-icon>
            Cerrar
        </button>

        <button mat-raised-button color="primary" (click)="ok()" [disabled]="!form.valid" *ngIf="this.formType !== 1">
            <mat-icon>save</mat-icon>
            Aceptar
        </button>

        <button mat-button color="warn" (click)="anularDialog($event)" [disabled]="item.estadoPresupuestoServicio.id !== 1" *ngIf="this.formType === 1">
            <mat-icon>block</mat-icon>
            Anular
        </button>
    </mat-dialog-actions>
</form>
