<div style="margin: 8px;">
    <mat-toolbar>
        <span>Cliente</span>
        <span class="line-spacer"></span>

        <button color="primary" mat-button (click)="cargarClientes()">
            <mat-icon>refresh</mat-icon>
            <span>Actualizar</span>
        </button>

        <button color="primary" mat-button (click)="add()">
            <mat-icon>add</mat-icon>
            <span>Nuevo</span>
        </button>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <div class="table-responsive">
                <div class="end">
                    <mat-checkbox [(ngModel)]="all" (change)="cargarClientes()">Ver Todos</mat-checkbox>
                </div>
                <mat-table #table [dataSource]="dataSource" class="table table-striped text-center">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Id</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><span [ngClass]="{'eliminado':dato.estado === 'INACTIVO'}"> {{ dato.id }} </span></mat-cell>>
                    </ng-container>

                    <ng-container matColumnDef="ruc">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Ruc</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><i [ngClass]="{'eliminado':dato.estado === 'INACTIVO'}">{{ dato.descripcion }}</i></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="razon">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Razón Social</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><i>{{dato.razon}}</i></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="direccion">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Dirección</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><i>{{dato.direccion}}</i></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Correo</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><i>{{dato.correo}}</i></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="telefono">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Teléfono</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><i>{{dato.telefono}}</i></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ciudad">
                        <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                            <h4><strong>Ciudad</strong></h4>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dato" class="texto-tabla"><i>{{dato.ciudad.descripcion}}</i></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let dato">
                            <button matTooltip="Editar" *ngIf="dato.estado === 'ACTIVO'" color="primary" mat-icon-button (click)="editItem(dato)">
                                <mat-icon aria-label="Editar item">mode_edit</mat-icon>
                            </button>

                            <button matTooltip="Eliminar" *ngIf="dato.estado === 'ACTIVO'" color="warn" mat-icon-button (click)="delete($event, dato)">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <button matTooltip="Reactivar" *ngIf="dato.estado === 'INACTIVO'"mat-icon-button (click)="reactivate($event, dato)">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #painator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
