<div style="margin: 8px;">
    <mat-toolbar>
        <span>Promociones/Descuentos</span>
        <span class="line-spacer"></span>

        <button color="primary" mat-button (click)="cargarPromoDescuentos()">
            <mat-icon>refresh</mat-icon>
            <span>Actualizar</span>
        </button>

        <button color="primary" mat-button (click)="addItem()">
            <mat-icon>add</mat-icon>
            <span>Nuevo</span>
        </button>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <div class="end">
                <mat-checkbox [(ngModel)]="all" (change)="cargarPromoDescuentos()">Ver Inactivos</mat-checkbox>
            </div>
            <mat-table #table [dataSource]="dataSource" class="table table-striped text-center">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Id</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla"><span [ngClass]="{'eliminado':dato.estado === 'INACTIVO'}"> {{ dato.id }} </span></mat-cell>>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Descripcion</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla"><i [ngClass]="{'eliminado':dato.estado === 'INACTIVO'}">{{ dato.descripcion }}</i></mat-cell>
                </ng-container>

                <ng-container matColumnDef="porcentaje">
                    <mat-header-cell *matHeaderCellDef class="text-center fix-head">
                        <h4><strong>Porcentaje</strong></h4>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let dato" class="texto-tabla"><i>{{dato.porcentaje}}</i></mat-cell>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let dato">

                        <!--<button color="primary" mat-icon-button (click)="viewDetail(dato)">
                            <mat-icon aria-label="Ver detalle">view_list</mat-icon>
                        </button>-->

                        <button matTooltip="Editar" *ngIf="dato.estado === 'ACTIVO'" color="primary" mat-icon-button (click)="editItem(dato)">
                            <mat-icon aria-label="Editar item">mode_edit</mat-icon>
                        </button>

                        <button matTooltip="Eliminar" *ngIf="dato.estado === 'ACTIVO'" color="warn" mat-icon-button (click)="delete($event, dato)">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button matTooltip="Reactivar" *ngIf="dato.estado === 'INACTIVO'"mat-icon-button (click)="reactivate($event, dato)">
                            <mat-icon>refresh</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #painator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>

        </mat-card-content>
    </mat-card>
</div>
